html{
    background-color: beige;
}

.container1 {
    width: 20%;
    margin: 50px auto;
    margin-left:37%;
    margin-top:100px;
    background-color: #fff;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

.result {
    text-align: center;
    width: 100%; /* Adjust width */
    margin-top: 20px; /* Add some spacing */
}


.result p {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    margin-bottom: 30px;
    width: 100px; /* Adjust width as needed */
}

select {
    width: calc(100% - 160px); /* Adjust width to fill remaining space */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input{
    padding:5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


button{ 
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}